 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/ca52980102a0a120f545b66ad84012a6f922ebf56b0d8d55e8c9b9d3e177e4f475368b3882485f4b72aa8025a1a2e58b7c62621f4f16fd0144fe8e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 166px auto 0;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0;
  padding: 23px 256px 24px 255px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 0;
  padding: 24px 195px 25px;
}

.u-section-1 .u-btn-3 {
  --radius: 6px;
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px auto 0;
  padding: 23px 241px 24px;
}

.u-section-1 .u-btn-4 {
  --radius: 6px;
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
  padding: 23px 269px 24px 268px;
}

.u-section-1 .u-btn-5 {
  --radius: 6px;
  border-style: solid;
  font-size: 0.9375rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px auto 60px;
  padding: 23px 211px 25px 210px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 475px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }
}