 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/4ae4f40001c30663570dcdd3e1db980886d7287d8016a1cd3b1ae12036037e69af1ba7126ea1ec33b00b1944c6785d475efc475ec456209b6fab80_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 7321px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 4.5rem;
  margin: 242px 54px 0;
}

.u-section-1 .u-image-1 {
  height: 659px;
  margin-top: 36px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 93px 0 0;
}

.u-section-1 .u-image-2 {
  width: 778px;
  height: 321px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 69px 0 0;
}

.u-section-1 .u-image-3 {
  width: 778px;
  height: 606px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 69px 0 0;
}

.u-section-1 .u-image-4 {
  width: 778px;
  height: 254px;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-1 .u-image-5 {
  height: 150px;
  margin: 17px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 66px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 6037px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-2 {
    width: 884px;
    margin-top: 380px;
    margin-right: 156px;
    margin-left: 100px;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4536px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 298px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 561px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4263px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: -210px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 224px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 421px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 176px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3959px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1 .u-text-2 {
    margin: 483px 400px -407px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 141px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 265px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 111px;
  }
}